#contents{
    width:100vw;
    height:100vh;
    display: flex;
    overflow: hidden;
    justify-content: center;
    background: #ddd;
}
#chart{
    width:40%;
    height:40%;
    padding-top: 120px;
}
#chart > canvas{
    width:80%;
    height:80%;
}
#detail{
    padding-top: 120px;
}
#detail > p {
    font-size: 40px;
    margin-bottom: 30px;
}
.list{
    color:black;
}
.list p{
    font-size: 30px;
    margin-bottom: 20px;
}
.list li{
    font-size: 20px;
    margin-bottom: 20px;
    list-style:disc;
    margin-left: 20px;
}